<html>
<head>
    <script src="{{ hipchat_url }}/atlassian-connect/all.js" data-options="resize: false"></script>
    <meta name="signed_request" content="{{ signed_request }}">

    <link rel="stylesheet" href="{{ hipchat_url }}/atlassian-connect/all.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie9.css" media="all"><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->

    <style type="text/css">
        html, body {
            background-color: #fff !important;
            margin: 0;
            padding: 0;
        }
        h3 {
            margin-top: 0;
        }
        .repo_add_form {
            margin-top: 10px !important;
        }

        .repo-actions {
            text-align: right !important;
            vertical-align: middle !important;
        }
    </style>

</head>
<body>
<div>
    <div class="error aui-message hidden"></div>
    <div>
    <script>

        function remove_repository($row, repo) {
            $('.error').addClass('hidden').text('');
            $.ajax({
                type: "DELETE",
                url: get_signed_url("/configure/" + repo)
            }).done(function(data) {
                $row.remove()
            });
        }

        function add_repository(repo) {
            $('.error').addClass('hidden').text('');
            $.ajax({
                type: "POST",
                url: get_signed_url("/configure/" + repo)
            }).done(function(data) {
                $('#repo_name').val('');
                add_repo_row(data);
            })
            .fail(function(data) {
               $('.error').removeClass('hidden').text(data.responseText)
           });
        }

        function add_repo_row(repo) {
            $('.subscribed-repositories').removeClass('hidden');
            var $row_tmpl = $($('#repo-tmpl').find(".repo-row-tmpl")[0]);
            var $row = $row_tmpl.clone();
            $row.removeClass("hidden");
            $row.find('.repo-name').text(repo);
            $row.find('.delete-link').click(function(e) {
                remove_repository($row, repo);
            });
            $('#repo_list').append($row);
        }

        function load_repositories() {
            $('#new-repository').removeClass('hidden');
            $('#auth_link').addClass('hidden');
            $.get(get_signed_url("/repositories"), function(data) {
                var repo_list = $('#repo_list');
                $.each(data.repositories, function() {
                    add_repo_row(this);
                });
                $('#repo_add').click(function(e) {
                    e.preventDefault()
                    repo_name = $('#repo_name').val()
                    add_repository(repo_name)
                });
            })
        }

        function check_oauth() {
            $.get(get_signed_url("/check_oauth"), function(data) {
                if (data == "false") {
                    setTimeout(check_oauth, 1000);
                } else {
                    load_repositories();
                }
            })
        }

        function poptastic(url) {
            var newWindow = window.open(url, 'name', 'height=768,width=1024');
            if (window.focus) {
                newWindow.focus();
                check_oauth();
            }
        }

        function get_signed_url(url) {
            var signed_request = $('meta[name=signed_request]').attr("content");
            return url + "?signed_request=" + signed_request
        }

    </script>
        <div id="new-repository" class="hidden">
            <h3>New repository</h3>
            <p>You can subscribe a repository on your account or to any repository you have admin rights to even if it
                is owned by another account holder. Enter a repository in the format:
                <code>accountname/anyrepository</code></p>
            <form action="#" method="post" class="aui repo_add_form">
                <input class="text long-field" type="text" name="repo_name" id="repo_name">
                <input type="submit" class="aui-button aui-button-primary" id="repo_add" value="Add"/>
            </form>
        </div>
    <form class="aui subscribed-repositories hidden">
        <h3>Subscribed repositories</h3>
        <table class="aui" id="repo_list">
        </table>
    </form>
    </div>

    <div class="hidden">
        <div id="repo-tmpl">
            <table>
                <tr class="repo-row-tmpl">
                    <td class="repo-name">[replace]</td>
                    <td class="repo-actions">
                        <a class="delete-link" href="javascript:void(0)"><span class="aui-icon aui-icon-close">Delete</span></a></td>
                </tr>
            </table>
        </div>
    </div>

    {% if auth_url %}
        <a id="auth_link" href="javascript:poptastic('{{ auth_url }}');">Authenticate with Bitbucket</a>
    {% else %}
        <script>
            $(function() {
                load_repositories()
            });
        </script>
    {% endif %}
</div>
</body>
</html>
